.reveal section :not(pre) > code {
    background: rgba(100, 100, 100, .3);
    border-radius: .3em;
    padding: 0 .3em;
}

.reveal section pre:nth-last-of-type(2),
.reveal section pre:nth-last-of-type(2) ~pre {
    width: calc(50% - 5px);
    box-sizing: border-box;
    border: 1px solid;
    display: inline-block;
    vertical-align: top;
}
